{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="heading">About Us</h1>
    <h3>Welcome to SentiStream!</h3>
  
        At SentiStream, our mission is to provide insightful and meaningful analysis of YouTube comments through
        cutting-edge sentiment analysis technology. We understand that YouTube is a vibrant platform where millions of
        users share their thoughts, opinions, and experiences daily. However, sifting through these comments to
        understand public sentiment can be overwhelming. That's where we come in.
    <br/>
        <h4>Our Purpose</h4>
    
        Our website is designed to help content creators, marketers, researchers, and everyday users gain a deeper
        understanding of how audiences feel about videos, channels, and trending topics on YouTube. By leveraging
        advanced natural language processing (NLP) algorithms and machine learning techniques, we provide detailed
        sentiment analysis reports that categorize comments as positive, negative, or neutral.
    <br/>
       <h4>Key Features</h4> 
       <ul style="list-style-type: disc; color: black; margin-left: 20px;">
        <li>Real-time Analysis: Get up-to-date sentiment analysis on the latest YouTube comments.</li>
        <li>Comprehensive Reports: Dive into detailed sentiment breakdowns with visual graphs and statistics.</li>
        <li>Keyword Insights: Discover common keywords and phrases used in comments to understand trending topics and
            audience interests.</li>
        <li>Customizable Settings: Tailor the analysis to specific videos, channels, or timeframes for more targeted
            insights.</li>
        <li>User-friendly Interface: Enjoy an intuitive and easy-to-navigate platform that makes sentiment analysis
            accessible to everyone.</li>
       </ul>
        
        
        
        
        
    </h3>
</div>
{% endblock %}